.card {
	float:left;
	width:100%;
	background-color:$card-bg-color;
	border-radius:$card-border-radius;
	margin:0 0 $gutter 0;
	overflow:hidden;
}
.card-header,
.card-body,
.card-footer {
	padding:$gutter $gutter 0 $gutter;
	float:left;
	width:100%;
}
.card-header {
	background-color:rgba(0,0,0,0.1);
}
.card-footer {
	background-color:rgba(0,0,0,0.1);
}